<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Event Triggers</string>
	<key>CFBundleExecutable</key>
	<string>Event Triggers</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSEventTriggersPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Event Triggers</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>71</string>
	<key>NSPrincipalClass</key>
	<string>QSEventTriggersPlugIn</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc</string>
		<key>categories</key>
		<array>
			<string>Quicksilver</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Trigger based on system events</string>
		<key>icon</key>
		<string>General</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSProxies</key>
		<dict>
			<key>QSEventTriggerObjectProxy</key>
			<dict>
				<key>icon</key>
				<string>Object</string>
				<key>name</key>
				<string>Event Trigger Object</string>
				<key>providerClass</key>
				<string>QSEventTriggerManager</string>
			</dict>
		</dict>
		<key>QSTriggerEvents</key>
		<dict>
			<key>QSActiveSpaceChangedEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Active Space Changed</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSApplicationLaunchEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>GenericApplicationIcon</string>
				<key>name</key>
				<string>Application Launched</string>
				<key>provider</key>
				<string>QSProcessMonitor</string>
				<key>type</key>
				<string>Application</string>
			</dict>
			<key>QSApplicationQuitEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>GenericApplicationIcon</string>
				<key>name</key>
				<string>Application Quit</string>
				<key>provider</key>
				<string>QSProcessMonitor</string>
				<key>type</key>
				<string>Application</string>
			</dict>
			<key>QSExternalDisplayChanged</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>External Display Changed</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSNetworkConfigurationChanged</key>
			<dict>
				<key>icon</key>
				<string>GenericNetworkIcon</string>
				<key>name</key>
				<string>Network Changed</string>
				<key>provider</key>
				<string>QSProcessMonitor</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSQuicksilverLaunchedAtLoginEvent</key>
			<dict>
				<key>icon</key>
				<string>Quicksilver</string>
				<key>name</key>
				<string>Quicksilver Launched (at Login)</string>
				<key>provider</key>
				<string>QSController</string>
				<key>type</key>
				<string>Application</string>
			</dict>
			<key>QSQuicksilverLaunchedEvent</key>
			<dict>
				<key>icon</key>
				<string>Quicksilver</string>
				<key>name</key>
				<string>Quicksilver Launched</string>
				<key>provider</key>
				<string>QSController</string>
				<key>type</key>
				<string>Application</string>
			</dict>
			<key>QSQuicksilverWillQuitEvent</key>
			<dict>
				<key>icon</key>
				<string>Quicksilver</string>
				<key>name</key>
				<string>Quicksilver Will Quit</string>
				<key>provider</key>
				<string>QSController</string>
				<key>type</key>
				<string>Application</string>
			</dict>
			<key>QSScreensaverStartedEvent</key>
			<dict>
				<key>icon</key>
				<string>com.apple.ScreenSaver.Engine</string>
				<key>name</key>
				<string>Screen Saver Started</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Screen Saver</string>
			</dict>
			<key>QSScreensaverStoppedEvent</key>
			<dict>
				<key>icon</key>
				<string>com.apple.ScreenSaver.Engine</string>
				<key>name</key>
				<string>Screen Saver Stopped</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Screen Saver</string>
			</dict>
			<key>QSWorkspaceDidMountEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>DriveIcon</string>
				<key>name</key>
				<string>Disk Inserted</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Disk</string>
			</dict>
			<key>QSWorkspaceDidUnmountEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>DriveIcon</string>
				<key>name</key>
				<string>Disk Was Ejected</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Disk</string>
			</dict>
			<key>QSWorkspaceDidWakeEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Computer Woke Up</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSWorkspaceSessionDidBecomeActiveEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Fast Login</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSWorkspaceSessionDidResignActiveEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Fast Logout</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSWorkspaceWillPowerOffEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Computer Will Shut Down</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSWorkspaceWillSleepEvent</key>
			<dict>
				<key>icon</key>
				<string>Computer</string>
				<key>name</key>
				<string>Computer Will Sleep</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Computer</string>
			</dict>
			<key>QSWorkspaceWillUnmountEvent</key>
			<dict>
				<key>allowMatching</key>
				<true/>
				<key>icon</key>
				<string>DriveIcon</string>
				<key>name</key>
				<string>Disk Will Eject</string>
				<key>provider</key>
				<string>QSBasicEventTriggers</string>
				<key>type</key>
				<string>Disk</string>
			</dict>
		</dict>
		<key>QSTriggerManagers</key>
		<dict>
			<key>QSEventTrigger</key>
			<string>QSEventTriggerManager</string>
		</dict>
	</dict>
</dict>
</plist>
